.nav-link{
    display: inline-block;
    box-sizing: border-box;
    width: 60px;
    padding: 5px;
    margin: 0 6px 6px;
    background: white;
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
    color: black;
    border-color: black;
}

.active {
    color: purple;
}