.home{
    display: inline-flexbox;
    text-align: center;
}
.onepiece{
    padding: 1rem;
    height: 54rem;
    float:left;
    width:30%;
}
.jjk{
    padding: 1rem;
    height: 54rem;
    float:left;
    width:30%;
}
.ttigraas{
    padding: 1rem;
    height: 54rem;
    float:left;
    width:30%;
}

.card-img{
    justify-self: center;
    height: 50rem;
    width: auto;
}
.nav-link{
    display: inline-flexbox;
    margin: 3rem;
    padding: 0.35rem;
    text-decoration: none;
    font-size: 1.2em;
    color: #1F45FC;
    border-bottom: 2px solid #1F45FC;
    transition: 0.1s;
    text-align: center;
}
.card{
    font-size: 30px;
    text-align: center;
    border: #1F45FC solid 2px;
    padding: 2rem;
    width: auto;
    height: auto;
    display: grid;
    margin: 4rem 5rem;
    box-shadow: 1.25rem 1.50rem #8a97d6;
    background-color: white;
    color: #5700f8;
}
.cc{
    justify-self: center;
    max-width: 99%;
    max-height: 99%;
}
.title{
    text-align: center;
    font-size: 60px;
    color: #5700f8;
}
.form{
    display: inline-flexbox;
    text-align: center;
}
.input-text{
    background-color: white;
    color: #5700f8;
    font-size: 18px;
    justify-self: center;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    margin: 3px;
}

.submit{
    background-color: white;
    color: #5700f8;
    font-size: 18px;
    justify-self: center;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    margin: 3px;
}