.home{
    display: inline-flexbox;
    text-align: center;

}

#american{
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 3rem;
}
#national{
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 3rem;
}